//colors
$white: #fff;
$color_storm_dust_approx: #666;
$black: black;
$white_80: rgba(255,255,255,0.8);

//urls
$leaflet-search-img-path: '../images/' !default;

//@extend-elements
//original selectors
//.leaflet-control-search .search-button:hover, .leaflet-control-search .search-button
%extend_1 {
  background-image: url('#{$leaflet-search-img-path}search-icon-mobile.png');
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-position: 1px 1px;
  width: 32px;
  height: 32px;
}


.leaflet-control-search {
  .search-input {
    display: block;
    float: left;
    background: $white;
    border: 1px solid $color_storm_dust_approx;
    border-radius: 2px;
    height: 24px;
    font-size: 1.25em;
    padding: 0 .125em;
    margin: 3px;
    padding-right: 30px;
  }
  .search-button {
    @extend %extend_1;
    &:hover {
      @extend %extend_1;
      background-color: $white;
    }
  }
  .search-cancel {
    background-image: url('#{$leaflet-search-img-path}search-icon-mobile.png');
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-position: 0 -62px;
    width: 26px;
    height: 26px;
    right: 34px;
    margin: 3px;
  }
  .search-tooltip {
    max-height: 142px;
  }
  .search-tip {
    font-size: 1em;
    margin: 2px;
    padding: 2px;
    display: block;
    color: $black;
    background: $white_80;
    border-radius: .25em;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: center;
    .climbo-icon-mini {
      float: right;
      display: block;
      white-space: nowrap;
    }
    &:hover {
      background-color: $white;
    }
  }
  .search-tip-select {
    background-color: $white;
  }
  .search-alert {
    font-size: 1.2em;
  }
  &.search-load .search-input {
    background: url('#{$leaflet-search-img-path}loader.gif') no-repeat center right $white;
  }
}
.leaflet-control.leaflet-control-search {
  z-index: 2000;
}
